services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: galactic-tournament
    ports:
      - "4200:4200"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - NG_CLI_ANALYTICS=false
    stdin_open: true
    tty: true

